.article p a.download-link {
  text-decoration: none;
}

.loader {
  color: #64171a;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.search-icon {
  transform: translate(7px, 11px);
  height: 1.5em !important;
}

.space-left {
  margin-left: 10px;
}

.space-right {
  margin-right: 10px;
}


