nav.navbar {
  border: solid #333;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}
